*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(101, 101, 101), rgb(50, 50, 50),black);
}
main{
    height: 100%;
    width: 100%;
    padding: 70px;
}
section{
    height: 100%;
    width: 350px;
    background-color: transparent;
    margin: auto;
}
.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover ;
}
.bottom{
    width: 100%;
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.704));
    position: absolute;
    bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}
.bottom .user button{
    color: white;
    background-color: transparent;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}
.bottom>h3{
    margin-top: 5px;
    font-size: 15px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.892);
}

.right{
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 8%;
    color: rgb(255, 255, 255);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
.right h4{
    cursor: pointer;
}
.right i{
    font-size: 25px;
    font-weight: 500;
}
.right h6{
    font-size: 15px;
    font-weight: 500;
}
.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.love{
    color: red;
}
