*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px; 
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  font-weight: 600;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 26px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 9;
}

.button-33:hover {
  transform: scale(1.05);
}
