*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #55999a;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Counter{
    background-color: rgb(138, 213, 178);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 8px 5px 15px rgba(171, 24, 24, 0.2);
    text-align: center;
    margin-top: 50px;
    height: 300px;
    width: 400px;
}
.Counter h1{
    margin-bottom: 20px;
}

.controls button{
    padding: 15px 25px;
    margin: 15px;
    border: none;
    border-radius: 5px;  
    color: white;
    font-size: 16px;
    cursor: pointer;   
}

#increment{
    background-color: #4CAF50;
}

#decrement{
    background-color: #e53935;
}

#resetBtn{
    background-color: #fbc02d;
    color: black;
}

#value{
    font-size: 40px;
    margin: 10px;
    color: azure;
}