*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(48, 106, 87);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    padding: 20px;
    background-color: rgb(250, 226, 195);
    text-align: center;
    border-radius: 20px;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
}

.card h2{
    font-size: 25px;
}

.card h3{
    font-size: 20px;
    color: crimson;
    margin-bottom: 5px;
}

.card h4{
    font-size: 15px;
    color: rgb(80, 79, 79);
}