* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100vh;
  background-color: rgba(132, 180, 179, 1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
    width: 780px;
    border-radius: 20px;
    padding: 25px;
    background: rgb(31, 31, 31);
    box-shadow: 10px 10px 20px rgb(83, 83, 83);
}
.wrapper header{
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2{
    font-size: 1.6rem;
}

.piano-keys{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.piano-keys .key{
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}
.piano-keys .black{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}
.piano-keys .black:active {
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
    background: linear-gradient(to bottom, #000 , #434343 );
}
.piano-keys .white{
    width: 70px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid black;
    background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white:active {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}