*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(52, 3, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#box{
    height: 35%;
    width: 25%;
    background-color: rgb(9, 73, 142);
    margin-bottom: 30px;
    border: 2px solid white;
    border-radius: 15px;
}

button{
    background-color: lightcoral;
    color: azure;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
button:active{
    scale: 0.95;
    color: grey;
}